<div id='container'>
  <form name="shortlyForm" ng-submit='addLink()' novalidate>
      <input name='link' type='url' 
      ng-model='link.url' required 
      ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>
      <button ng-disabled='shortlyForm.$invalid'>Shorten</button>
  </form>
</div>

<div ng-if='shortlyForm.link.$error.required && shortlyForm.$dirty'>
  <h2>Url required</h2>
  <img src='../../assets/no.gif'/>
</div>
<div ng-show='shortlyForm.link.$error.url && shortlyForm.$dirty'>
  <h2>Not a valid url</h2>
  <img src='../../assets/no.gif'/>
</div>
<div ng-show='!shortlyForm.link.$error.url && !shortlyForm.link.$error.required'>
  <h2>PARTY TIME!</h2>
  <img src='../../assets/bounce.gif'/>
</div>

<!-- http://www.ng-newsletter.com/posts/validations.html -->
<!-- <a href="#/links">See Links <strong>NOW</strong> ...</a> -->